.post {
  color: var(--text);
  margin-bottom: $post-bottom-margin;

  img {
    max-width: 100%;
  }

  > .post-header {
    margin-top: calc($documentation-margin / 2);
    margin-bottom: $header-bottom-margin;
  }
}

@include media-query-max($on-mobile) {
  .post {
    padding: 0 $base-mobile-padding;
  }
}

@media (min-width: $on-mobile + 1) and (max-width: $on-desktop - 1) {
  .post {
    padding: 0 $base-tablet-padding;
  }
}

@include media-query-min($on-desktop) {
  .post {
    padding: 0 $base-desktop-padding;
  }
}
